     <!-- Top Bar Start -->
     <div class="top-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <a href="index.html">
                            <!-- <img src="img/logo.jpg" alt="Logo"> -->
                            <img src="./assets/img/logo.png" alt="logo"> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 d-none d-lg-block">
                    <div class="row">
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-calendar"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Horaire Ouverture</h3>
                                    <p>lun -vend, 8:00 - 9:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Téléphone</h3>
                                    <p>+73 515 349</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="flaticon-send-mail"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Email</h3>
                                    <p>E_Sémiologie@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="#" routerLink="home" class="nav-item nav-link">Acceuil</a>
                        <a href="#" routerLink="question" class="nav-item nav-link">Question</a>
                        <a href="#" routerLink="portfolio"  class="nav-item nav-link">Portfilio</a>
                        <a *ngIf="isLoggedIn" href="#" routerLink="listequestion"  class="nav-item nav-link">ListeQuestion</a>

                        <a *ngIf="isLoggedIn" href="#" routerLink="register" class="nav-item nav-link">Créer compte</a>
                        
                    </div>
                    <div class="ml-auto">
                        <a class="btn" href="#" routerLink="login">Se Connecter</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->
