   <!-- Footer Start -->
   <div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="footer-contact">
                    <h2>Contact</h2>
                    <p><i class="fa fa-map-marker-alt"></i>123 Street, Sousse, TUNISIE</p>
                    <p><i class="fa fa-phone-alt"></i>+216 73 515 349</p>
                    <p><i class="fa fa-envelope"></i>Esémiologie@gmail.com</p>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-link">
                   
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-link">
                    <h2>Pages Utiles</h2>
                    <a href="">à propos de nous</a>
                    <a href="">Nous contacter </a>
                    <a href="">Notre équipe</a>
                    <a href="">Maladies</a>
                
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="newsletter">
                    <h2>Contact</h2>
                    <p>
                        Si vous avez des propositions vous pouvez nous contacter par mail.
                    </p>
                    <div class="form">
                        <input class="form-control" placeholder="Email ICI">
                        <button class="btn">Proposer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="#">E_Sémiologie</a></p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->