<div class="row align-items-center">
    <div class="col-lg-6 col-md-12 m-b30">
        <div class="section-head style1">
        <h2 class="title">AZ PLASTERING  TUNISIE <br> </h2>
        
        </div>
    <p> AZ_Plastering  TUNISIE  est une société de bâtiment qui opère sur le marché du second œuvre, elle est spécialisée dans les travaux d'isolation, plaque de plâtre (placo plâtre), enduit de plâtre et plafond démontable en Tunisie, dispose de toutes les qualifications humaines et techniques pour l’exécution des travaux de revêtements..</p>
    <p>AZ_Plastering TUNISIE, c’est une équipe professionnelle, héritiers d’un amour du travail bien fait, qui prolongent et développent son souci de qualité et de performance.</p>
    <p>Quel que soit le niveau d’intervention sur un chantier, nous nous efforçons d’apporter une réponse adaptée, rigoureusement personnalisé et rapide.</p>
    <p>Notre entreprise participe passionnément à l’embellissement du cadre de vie en le parachevant avec détermination et savoir-faire.</p>
    <p>AZ_Plastering TUNISIE réalise des travaux  intérieur et extérieur de tous types</p>						
        
        
    </div>
    <div class="col-lg-6 col-md-12 m-b30 our-story-thum">
        <img src="./assets/img/about.jpg" alt="Image" style="width:500px;height:400px; ">
    </div>
</div>

