<div class="page-header" id="content">
  <div class="overlay">
     <form
       *ngIf="!isLoggedIn"
       name="form"
       (ngSubmit)="f.form.valid && onSubmit()"
       #f="ngForm"
       novalidate
     >
     <div class="con">
      <header class="head-form">
         <h2>Connexion</h2>
         <p>Saisir votre surnom et mot de passe</p>
      </header>
      </div>
       
      <br>
       <div class="form-group">
         <label for="username">Surnom</label>
         <input
           type="text"
           class="form-control"
           name="username"
           [(ngModel)]="form.username"
           required
           #username="ngModel"
         />
         <div
           class="alert alert-danger"
           role="alert"
           *ngIf="username.errors && f.submitted"
         >
           Veuillez entrer votre Surnom !
         </div>
       </div>
       <div class="form-group">
         <label for="password">Mot de passe</label>
         <input
           type="password"
           class="form-control"
           name="password"
           [(ngModel)]="form.password"
           required
           minlength="6"
           #password="ngModel"
         />
         <div
           class="alert alert-danger"
           role="alert"
           *ngIf="password.errors && f.submitted"
         >
           <div *ngIf="password.errors.required">Veuillez entrer votre mot de passe</div>
           <span>
            <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
         </span>
           <div *ngIf="password.errors.minlength">
            Mot de passe doit etre au moins 3 caractères
           </div>
         </div>
       </div>
       <div class="form-group">
         <button class="log-in">
           Connexion
         </button>
       </div>
       <div class="form-group">
         <div
           class="alert alert-danger"
           role="alert"
           *ngIf="f.submitted && isLoginFailed"
         >
           Echec de connexion: {{ errorMessage }}
         </div>
       </div>
       <div class="other">
        <!--      Forgot Password button-->
              <button class="btn submits frgt-pass">Mot de passe oublié</button>
        <!--     Sign Up button -->
              <button class="btn submits sign-up" *ngIf="isLoggedIn"  href="#" routerLink="register">Créer compte
        <!--         Sign Up font icon -->
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button>
        <!--      End Other the Division -->
        </div>
     </form>
 
     <div class="alert alert-success" *ngIf="isLoggedIn">
      <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
    <div class="con">
     <header class="head-form">
        <h2>Connexion</h2>
        <p>Saisir votre surom et mot de passe</p>
     </header>
     </div>
      
     <br>
      <div class="form-group">
        <label for="username">Surnom</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="username.errors && f.submitted"
        >
          Veuillez entrer votre Surnom !
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors.required">Veuillez entrer votre mot de passe</div>
          <span>
           <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
        </span>
          <div *ngIf="password.errors.minlength">
           Mot de passe doit etre au moins 3 caractères
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="log-in">
          Connexion
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Echec de connexion: {{ errorMessage }}
        </div>
      </div>
      <div class="other">
       <!--      Forgot Password button-->
             <button class="btn submits frgt-pass">Mot de passe oublié</button>
       <!--     Sign Up button -->
             <button class="btn submits sign-up" *ngIf="isLoggedIn"  href="#" routerLink="register">Créer compte
       <!--         Sign Up font icon -->
             <i class="fa fa-user-plus" aria-hidden="true"></i>
             </button>
       <!--      End Other the Division -->
       </div>
    </form>
       
     </div>
   </div>

    
 </div>