<div class="wrapper">
  
    <!-- Page Header Start -->
    <div class="page-header" id="content">
        <div class="container" >
            <div class="row">
                <div class="col-12">
                    <h2>Répondre à tous vos besoins.</h2>
                </div>
                <div class="col-12">
                    <a href="" routerLink="home" >Acceuil</a>
                    <a href="">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="contact wow fadeInUp" id="content2">
        <div class="container">
            <div class="section-header text-center">
                <p style="color:#030f27 ">Si vous ayez besoin d'une information précise sur une maladie, nous serons
                     heureux et disponible pour vous répondre dans les plus brefs délais.</p>
            </div>
            <div class="row">
                
                <div class="col-md-6">
                    <div class="contact-info">
                        <div class="contact-item">
                            <i class="flaticon-address"></i>
                            <div class="contact-text">
                                <h2>Notre adresse</h2>
                                <p>Rue, Tunis ..</p>
                            </div>
                        </div>
                        <div class="contact-item">
                            <i class="flaticon-call"></i>
                            <div class="contact-text">
                                <h2>Téléphone</h2>
                                <p>+216 00 000 000</p>
                            </div>
                        </div>
                        <div class="contact-item">
                            <i class="flaticon-send-mail"></i>
                            <div class="contact-text">
                                <h2>Email</h2>
                                <p>Contact@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                           
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Nom et prénom" required="required" data-validation-required-message="S'il vous plaît entrez votre nom" />
                                
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Votre E-mail" required="required" data-validation-required-message="S'il vous plaît entrez votre email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" id="subject" placeholder="Sujet" required="required" data-validation-required-message="Veuillez saisir un sujet" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Votre message détaillé isi" required="required" data-validation-required-message="Veuillez saisir votre message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn" type="submit" id="sendMessageButton">Envoyer le message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
