<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            
            <h2>Les Maladies visités</h2>
        </div>
        <div class="container1">
        <!--div class="row"-->
            <!--div class="col-lg-4 col-md-8 col-sm-6 wow fadeInUp" data-wow-delay="0.2s"-->
               
                <div class="col-lg-4 col-md-8 col-sm-6 wow fadeInUp" data-wow-delay="0.2s" *ngFor="let chantier of chantiers">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="data:image/png;base64,{{chantier.filePath}}" style="width: 350px;height: 200px;" alt="Image">
                    </div>
                    <div class="blog-title" >
                        <h3>{{chantier.name}}</h3>
                        <a class="btn" (click)="chantierDetails(chantier.id)">+</a>
                    </div>
                    <div class="blog-meta">
                        <p>By<a href="">Admin</a></p>
                        <p>In<a href="">Construction</a></p>
                    </div>
                    <div class="blog-text">
                        <p>
                            AZ Plastering a participé par la pose de plaques de plâtre pour la construction de chantier {{chantier.name}} 
                            et qui se localise dans {{chantier.region}}.
                        </p>
                    </div>
                </div>
                 </div>
                 <DIV STYLE="page-break-before:always"></DIV>
       </div>
        <div class="row">
            <div class="col-12">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item "><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul> 
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->