<form (ngSubmit)="onSubmit()" #sendmail>
    

    <div class="form-group">
      <label for="destinataire">destinataire</label>
      <input type="text" class="form-control" id="destinataire" required [(ngModel)]="mail.destinataire" name="destinataire">
    </div>

    <div class="form-group">
      <label for="objet">objet</label>
      <input type="text" class="form-control" id="objet" required [(ngModel)]="mail.objet" name="objet">
    </div>
    <div class="form-group">
        <label for="message">message</label>
        <input type="text" class="form-control" id="message" required [(ngModel)]="mail.message" name="Message">
      </div>

    <button type="submit" class="btn btn-success">Répondre</button>
    <div class="alert alert-danger alert-dismissible" *ngIf="isSuccessful">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
       Email envoyé avec succées.
    </div>
  </form>