
            <!-- Carousel Start -->
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/img/visite medicale.jpg" alt="Carousel Image">
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">“Le malade prend l'avis du médecin. Le médecin prend la vie du malade.”</p>
                            <h1 class="animated fadeInLeft">Bienvenue</h1>
                            <a class="btn animated fadeInUp" href="#" routerLink="contact">Poser une Question</a>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="./assets/img/visite médical1.jpg" alt="Carousel Image">
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">“Le malade prend l'avis du médecin. Le médecin prend la vie du malade.”</p>
                            <h1 class="animated fadeInLeft">Bienvenue</h1>
                            <a class="btn animated fadeInUp" href="#" routerLink="contact">Poser une Question</a>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="./assets/img/visite médical.jpg" alt="Carousel Image">
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">“Le malade prend l'avis du médecin. Le médecin prend la vie du malade.”</p>
                            <h1 class="animated fadeInLeft">Bienvenue</h1>
                            <a class="btn animated fadeInUp" href="#" routerLink="contact">Poser une Question</a>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Carousel End -->


            <!-- Feature Start-->
            <div class="feature wow fadeInUp" data-wow-delay="0.1s">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>POSEZ VOTRE QUESTION OÙ QUE VOUS SOYEZ</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Médecin Compétent</h3>
                                    <p>Nos Médecins de professionnels réactifs sont à votre écoute et mettent leur savoir-faire et leurs compétences au service de vos besoins</p>
                                

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Assistance 24h/24 et 7j/7</h3>
                                    <p>nous sommes à votre disposition</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature End-->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="./assets/img/about.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header text-left">
                                <p>Bienvenue </p>
                                <h2>E_Sémiologie</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    La sémiologie est la science des systèmes de signes qui étudie les symptômes et les signes cliniques.

                                </p>
                                <p>
                                    E Sémiologie TUNISIE , c'est une platforme,qui facilite l’intéraction entre les étudiants en médecine et leurs professeurs et pour qu’ils puissent partagent les informations des différentes maladies qui peuvent les rencontrés durant leur visite clinique ...
                                </p>
                                <a class="btn" href="#" routerLink="about" >LIRE LA SUITE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->


            <!-- Fact Start -->
            <div class="fact">
                <div class="container-fluid">
                    <div class="row counters">
                        <div class="col-md-6 fact-left wow slideInLeft">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">Medecine Dentaire</h2>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">Chirurgie Generale
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 fact-right wow slideInRight">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">ophtalmologie</h2>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">Pédiatrie</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fact End -->


            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Maladies Visités</p>
                        <h2>Maladies rencontrés durant notre visite médicale</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="./assets/img/grippe.jpg" alt="Image">
                                    
                                </div>
                                <div class="service-text">
                                    <h3>Grippe </h3>
                                    <a class="btn" href="./assets/img/grippe.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="./assets/img/covid.jpg" alt="Image">
                                    
                                </div>
                                <div class="service-text">
                                    <h3>Covid</h3>
                                    <a class="btn" href="./assets/img/covid.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="./assets/img/rougeole.jpg" alt="Image">
                                   
                                </div>
                                <div class="service-text">
                                    <h3>Rougeole</h3>
                                    <a class="btn" href="./assets/img/rougeole.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="./assets/img/champignon.jpg" alt="Image">
                                   
                                </div>
                                <div class="service-text">
                                    <h3>champignon</h3>
                                    <a class="btn" href="./assets/img/champignon.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="./assets/img/yeux.jpg" alt="Image">
                                    
                                </div>
                                <div class="service-text">
                                    <h3>Yeux rouges</h3>
                                    <a class="btn" href="./assets/img/yeux.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="./assets/img/dents.jpg" alt="Image">
                                    
                                </div>
                                <div class="service-text">
                                    <h3> maladies parodontales</h3>
                                    <a class="btn" href="./assets/img/dents.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service End -->


            <!-- Video Start -->
            <div class="video wow fadeIn" data-wow-delay="0.1s">
                <div class="container">
                    <button type="button" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            
            <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>        
                            <!-- 16:9 aspect ratio -->
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video End -->


            <!-- Team Start -->
            <div class="team">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Notre équipe</p>
                        <h2>Rencontrez nos docteurs</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="./assets/img/habib.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Habib Besbes</h2>
                                    <p>Pediatric Resident</p>
                                </div>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="./assets/img/sana.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Sana Mosbahi</h2>
                                    <p>AHU en chirurgie pédiatrique </p>
                                </div>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="./assets/img/sanachrif.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Dr Sana Cherif</h2>
                                    <p>Médecin Esthétique</p>
                                </div>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="./assets/img/ridha.jpg" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>Dr Ridha GHARSALLI </h2>
                                    <p>Gastro-entérologue
                                    </p>
                                </div>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team End -->
            

           

            <!-- Blog Start 
            <div class="blog">
                <div class="container">
                    <div class="section-header text-center">
                       
                        <h2>Dernières actualités</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="blog-item">
                                <div class="blog-img">
                                    <img src="./assets/img/centre.jpg" style="width: 350px;height: 200px" alt="Image">
                                </div>
                                <div class="blog-title">
                                    <h3>Centres commerciaux</h3>
                                    <a class="btn" href="">+</a>
                                </div>
                              
                                <div class="blog-text">
                                    <p>
                                        Alliant consommation et loisirs, les centres commerciaux vivent actuellement de profondes évolutions et sont obligés à agencer leurs espaces de commerce.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp">
                            <div class="blog-item">
                                <div class="blog-img">
                                    <img src="./assets/img/plaque.jpg" style="width: 350px;height: 200px" alt="Image">
                                </div>
                                <div class="blog-title">
                                    <h3>Plâtre en milieu humide </h3>
                                    <a class="btn" href="">+</a>
                                </div>
                            
                                <div class="blog-text">
                                    <p>
                                        Avec AZ_Plastering, dans les pièces telles que les salles de bains, la pose de cloisons au moyen de de plaques de plâtre est devenue un classique du genre.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="blog-item">
                                <div class="blog-img">
                                    <img src="./assets/img/gypse.jpg" style="width: 350px;height: 200px" alt="Image">
                                </div>
                                <div class="blog-title">
                                    <h3>Un matériau écologique</h3>
                                    <a class="btn" href="">+</a>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        Connu depuis l'Antiquité, le plâtre est un des plus anciens matériaux de construction fabriqués par l'homme. S'il est encore employé sous sa forme traditionnelle.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog End -->

