<div class="page-header" id="content">
<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Surnom</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Veuillez saisir votre Surnom </div>
            <div *ngIf="username.errors.minlength">
                Surnom doit etre au moins 3 caractères
            </div>
            <div *ngIf="username.errors.maxlength">
                Surnom doit etre au maximum 20 caractères
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Veuillez saisir votre Email </div>
            <div *ngIf="email.errors.email">
                Veuillez saisir une adresse email valide
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Veuillez saisir votre Mot de passe</div>
            <div *ngIf="password.errors.minlength">
                Mot de passe doit etre au moins 3 caractères
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn">S'inscrire</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Echec d'Inscription !<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Inscription réussie l!
      </div>
    </div>
  </div>
</div>